<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/console.css" />
<script defer type="module" src="/js/admin/console.js"></script>

<style>

</style>

<%- contentFor("body") %>
