<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<!-- <link rel="stylesheet" href="/css/chat.css" />
<script defer type="module" src="/js/testPage.js"></script> -->
<!-- <script defer type="module" src="/js/lib/framework/examples/components/index.js"></script> -->

<%- contentFor("body") %>
<main id="#main" class="main2">
  <ul>
    <li class="form"><a href="/changelogs/NOTICE">NOTICE</a> Some information and disclaimers</li>
    <hr />
    <li class="form"><a href="/changelogs/v3-0-0">v3.0.0</a> Major update</li>
    <hr />
    <li class="form"><a href="/changelogs/v2-1-0">v2.1.0</a> Minor update</li>
    <br/>
    <li class="form"><a href="/changelogs/v2-0-0">v2.0.0</a> Major update</li>
  </ul>  
</main>
