<%- contentFor('Documentation : Header') %>
  <!-- 
  This is the homepage
 -->
  <%- contentFor("headCode") %>
    <title>
      <%= title %>
    </title>
    <!-- <link rel="stylesheet" href="/css/chat.css" />
<script defer type="module" src="/js/testPage.js"></script> -->
    <!-- <script defer type="module" src="/js/lib/framework/examples/components/index.js"></script> -->

    <%- contentFor("body") %>
      <main id="main" class="main2">
        <article>
          <header>
            <h1>update v3.0.0</h1>
          </header>
          <section>
            <ul>
              <!-- BLOCK:START -->

              <li class="form">
                <header>
                  <h3>Fixed a lot of bugs</h3>
                </header>
                <section>
                  Just ain't gonna list them rn
                </section>
              </li>
              <br />

              <!-- BLOCK:END -->
              <!-- BLOCK:START -->

              <li class="form">
                <header>
                  <h3>Updated CSS</h3>
                </header>
                <section>
                  <ol>
                    <li>
                      an almost complete rewrite
                    </li>
                  </ol>
                </section>
              </li>
              <br />

              <!-- BLOCK:END --> <!-- BLOCK:START -->

              <li class="form">
                <header>
                  <h3>Added: Admin site controls</h3>
                </header>
                <section>
                  <ol>
                    <li>
                      Added controls for:
                      <ul>
                        <li>Semi-Automatic updates</li>
                      </ul>
                    </li>
                  </ol>
                </section>
              </li>
              <br />

              <!-- BLOCK:END -->
            </ul>
          </section>
          <footer class="center_E">
            <p>
              Signed:
              <br />
              <attr title="Amber-Emily Amy Nagtegaal">
                <img src="/Signature.svg" style="height: 75px; background: white" />
              </attr>
            </p>
          </footer>
        </article>
      </main>