<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<!-- <link rel="stylesheet" href="/css/chat.css" />
<script defer type="module" src="/js/testPage.js"></script> -->
<script defer type="module" src="/js/lib/framework/examples/example1/index.js"></script>

<%- contentFor("body") %>
<main id="#main" class="main2">

</main>