<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/randfill.css" />
<script defer type="module" src="/js/tests/graphics/randfill.js"></script>

<%- contentFor("body") %>
<p class="output"></p>
<main id="#main" class="main2">

</main>