<div class="nav">
  <button
    class="openbtn"
    data-icon
    onclick="openNav()"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="mdi:menu-close" />
  </button>
  <a
    href="/"
    data-icon
    class="openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="ic:round-home" />
  </a>
  <a
    href="/login"
    data-icon
    class="openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="ph:sign-in-bold" />
  </a>
  <a
    href="/dms"
    data-icon
    class="openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="ic:round-chat-bubble" />
  </a>
  <a
    href="/files"
    data-icon
    class="openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="mdi:folder" />
  </a>
  <a
    href="/theme"
    data-icon
    class="openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="solar:palette-round-bold" />
  </a>
  <a
  href="/bugs"
  data-icon
  class="openbtn"
  style="
    background: #0000;
    color: white;
    width: 20px;
    height: 20px;
    padding: 1px;
  "
>
  <iconify-icon data-icon icon="mdi:bug" />
</a>
  <hr />
  <button
    data-icon
    class="createPostBTN-1 openbtn"
    style="
      background: #0000;
      color: white;
      width: 20px;
      height: 20px;
      padding: 1px;
    "
  >
    <iconify-icon data-icon icon="mdi:pencil-plus" />
  </button>
</div>

<div id="mySidebar" class="sidebar">
  <!-- <a href="javascript:void(0)" class="openbtn" onclick="openNav()">☰</a> -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">
    <iconify-icon icon="mdi:menu-open" />
  </a>
  <div class="navLinks">
    <a class="big" href="/"
      ><span><iconify-icon data-icon icon="ic:round-home" /></span>Home</a
    >
    <a class="big" href="/login"
      ><span><iconify-icon data-icon icon="ph:sign-in-bold" /></span>Login</a
    >
    <a class="big" href="/dms"
      ><span><iconify-icon data-icon icon="ic:round-chat-bubble" /></span
      >Chat</a
    >
    <a class="big" href="/files"
      ><span><iconify-icon data-icon icon="mdi:folder" /></span>Files</a
    >
    <a class="big" href="/theme"
      ><span><iconify-icon data-icon icon="solar:palette-round-bold" /></span
      >Theme</a
    >
    <a class="big" href="/bugs"
      ><span><iconify-icon data-icon icon="mdi:bug" /></span
      >Bugs</a
    >
  </div>
  <button class="createPostBTN-0">
    <span><iconify-icon data-icon icon="mdi:pencil-plus" /></span>CreatePost
  </button>
  <hr />
  <a href="" class="nav-qrcode"></a>
  <br />
  <hr />
  <br />
  <span class="button-label" id="SessionID"></span>
</div>