.color_red {
  font-weight: 700;
  color: darkred;
}

.color_blue {
  font-weight: 700;
  color: darkcyan;
}

.color_yellow {
  font-weight: 700;
  color: goldenrod;
}
.color_green {
  font-weight: 700;
  color: forestgreen;
}
.color_magenta {
  font-weight: 700;
  color: darkorchid;
}
