$theme-d-bg: var(--dark_4);
$theme-d-bg-2: var(--dark_3);
$theme-d-bg-3: var(--dark_2);
$theme-d-fg: var(--light_2);

$theme-d-accent-1: var(--purple_2);
$theme-d-accent-2: var(--purple_3);
$theme-d-accent-3: var(--purple_4);