$theme-l-bg: var(--light_4);
$theme-l-bg-2: var(--light_3);
$theme-l-bg-3: var(--light_2);
$theme-l-fg: var(--dark_4);

$theme-l-accent-1: var(--purple_2);
$theme-l-accent-2: var(--purple_3);
$theme-l-accent-3: var(--purple_4);