.modal {
  font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(.1rem);
}

.modal__container {
  box-sizing: border-box;
  width: 50%;
  max-width: 50%;
  max-height: 100vh;
  padding: 30px;
  overflow-y: auto;
  background-color: var(--theme-bg);
  border-radius: 10px;

  .form {
    input, textarea {
      width: 97%;
      color: var(--theme-fg);
    }
  }
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal__title {
  box-sizing: border-box;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--theme-accent-4);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__header .modal__close:before { content: "\2715"; }

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--theme-bg);
  line-height: 1.5;
}

.modal__btn {
  margin: 0;
  padding-top: .5rem;
  padding-right: 1rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  overflow: visible;
  color: var(--theme-bg);
  font-size: .875rem;
  line-height: 1.15;
  text-transform: none;
  background-color: var(--theme-fg);
  border-style: none;
  border-width: 0;
  border-radius: .25rem;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  -webkit-appearance: button;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  color: var(--theme-bg);
  background-color: var(--theme-accent-4);
}



/**************************\
    Demo Animation Style
  \**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }

  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }

  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }

  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }

  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}
