.pagination {
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--theme-accent-2);
  color: white;
  border: 1px solid var(--theme-accent-2);
}

.pagination :not(.active) {
    background-color: var(--theme-bg-shade-2);
}
  

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
