
// _global.scss : _toast

.toast {
  position: relative;
  box-sizing: border-box;
  padding: 0.75rem;
  overflow: hidden;
  color: var(--theme-fg);
  background: var(--theme-bg-2);
  border: 1px solid var(--theme-fg);
  border-radius: 0.25em;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.toast-container[data-position$="-right"] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

// .toast.progress::after {
//     content: "";
//     position: absolute;
//     height: 3px;
//     width: 100%;

//     background: var(--theme-fg);
//     bottom: 0;
//     left: 0;
//     right: 0;
// }

.toast.progress::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: calc(100% * var(--progress));
  height: 3px;
  background: var(--theme-accent-3);
  content: "";
}

.toast.can-close::after {
  position: absolute;
  top: 2px;
  right: 5px;
  content: "\00D7";
}

.toast-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 250px;
  height: fit-content;
  min-height: 0rem;
  max-height: 100rem;
  margin: 10px;
}

.toast-container[data-position^="top-"] {
  top: 0;
}

.toast-container[data-position^="bottom-"] {
  bottom: 0;
}

.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}
// YOURFILE.scss

.toastErr {
  color: #000000;
  background: #ffbbbb;
}

.toastWarn {
  color: #000000;
  background: #ffd25e;
}
