@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --side-margin: 10%;
}

form > *, .form > * {
    margin: 0;
}

.calculator-container {
    // display: grid;
}
.calculator {
    background-color: #DDD;
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);

    .display {
        width: 100%;
        height: 4.5rem;
        background-color: #114433;
        color:#DDD;
        font-family: 'VT323', monospace;
        font-size: xx-large;
    }
    .btn-group {
        // display: flex;
        // flex-direction: row;
        .row {
            display: flex;
            flex-direction: row;
            gap: 10px;

            align-items: center;
            align-content: center;
            text-align: center;
            justify-content: center;

            button {
                margin-top: 10px;
                width: calc(25% - 10px);
                height: 2rem;
                padding: 0;
                font-weight: bold;
                // color: black;

                &.num {
                    background-color: var(--theme-accent-1);
                }
                &.ac {
                    background-color: var(--red_5);
                }
                &.eq {
                    background-color: var(--green_5);
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --side-margin: 0%;
    }
}