#windowTitle{
    background: var(--theme-fg-shade-3);
    color: var(--theme-bg-shade-3);
    text-align: center;
    width: 100%;
    display: inline-block;
  }
  .console-window {
    min-height: 100%;
    max-height: 100%;
    background-color: var(--theme-bg-shade-5);
    color: var(--theme-fg-shade-1);
    overflow-y: auto;
    line-height: .7rem;
  }
  input.console-input {
    background: none;
    color: var(--theme-fg);

    border-bottom: 1px var(--theme-fg) solid;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0px;

    min-width: 50%;
    padding: 0;
  }
  
  *[data-colorscheme=monochrome] {
    .console-window {
      background-color: var(--theme-bg-shade-5);
    }
  }
