.footer-0 {
    display: none;
}

html, body {
    background: #000;
}

#main, .joe {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.joe {
    background: var(--theme-bg);
    textarea, input {
        width: 99%;
    }
}