*,
*::before,
*::after {
  transition: all 0.1s;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    // width: 100%;
}

td,
th {
    // border: 1px solid #dddddd;
    text-align: center;
    height: 50px;
    width: 50px;
    overflow: hidden;
    background-color: #000000;
    font-size: 8px;
}


// tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
//     background-color: var(--theme-accent-3);
// }

.indicator {
    background-color: #000000;
    border-left: 1em #0000 solid;
    width: 2em;
    &#activated {
        background-color: var(--theme-accent-3);
    }
}