:root {
    //   --background: #9c88ff;
    --background: var(--theme-bg);
    // --navbar-width: 256px;
    --navbar-width: var(--navbar-width-min);
    --navbar-width-min: 25px;
    --navbar-dark-primary: var(--theme-bg-shade-nav);
    --navbar-dark-secondary: #2c3e50;
    --navbar-light-primary: #f5f6fa;
    --navbar-light-secondary: #8392a5;
  }
  
  html,
  body {
    margin: 0;
    background: var(--background);
  }
  
  #nav-toggle {
    &~#nav-header {
      width: calc(var(--navbar-width-min) - 16px);
    }
  
    &~#nav-content,
    &~#nav-footer {
      width: var(--navbar-width-min);
    }
  
    &~#nav-header {
  
      // #nav-title {
      //   opacity: 0;
      //   pointer-events: none;
      //   transition: opacity .1s;
      // }
      label[for="nav-toggle"] {
        left: calc(50% - 8px);
        transform: translate(-50%);
      }
  
      // #nav-toggle-burger {
      //   background: var(--navbar-light-primary);
  
      //   &:before,
      //   &::after {
      //     width: 16px;
      //     background: var(--navbar-light-secondary);
      //     transform: translate(0, 0) rotate(0deg);
      //   }
      // }
    }
  
    &~#nav-content {
      .nav-button {
        span {
          opacity: 0;
          transition: opacity .1s;
        }
  
        .fas {
          min-width: calc(100% - 16px);
        }
      }
    }
  
    &~#nav-footer {
      #nav-footer-avatar {
        left: 50%;
        margin-left: 0;
        transform: translate(-50%);
      }
  
      #nav-footer-titlebox,
      label[for="nav-footer-toggle"] {
        opacity: 0;
        transition: opacity .1s;
        pointer-events: none;
      }
    }
  }
  
  #nav-bar, .footer-0, #mySidebar {
    // position: absolute;
    top: calc(var(--header-height) / 2);
    bottom: calc(var(--header-height) / 2);
    left: 0vw;
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    overflow: hidden;
    // color: var(--navbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: var(--navbar-dark-primary);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    //   border-radius: 16px;
    user-select: none;
  
    hr {
      position: relative;
      left: 16px;
      width: calc(100% - 32px);
      margin: 0;
      border: none;
      border-top: solid 1px var(--navbar-dark-secondary);
    }

    a {
      color: inherit;
      text-decoration: inherit;

      &.big {
        --theme-fg: var(--theme-accent-3);
        --theme-fg3: var(--theme-accent-3);
        color: var(--theme-fg);

        &:hover {
          --theme-fg: var(--theme-fg2);
          border: var(--theme-fg3) 1px solid;
        }
      }
    }
  
    input[type="checkbox"] {
      display: none;
    }
  }
  
  #nav-header {
    position: relative;
    left: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: var(--navbar-width);
    width: calc(var(--navbar-width) - 16px);
    min-height: 80px;
    background: var(--navbar-dark-primary);
    border-radius: 16px;
    transition: width .2s;
  
    hr {
      position: absolute;
      bottom: 0;
    }
  }
  
  #nav-title {
    font-size: 0.8rem;
    transition: opacity 1s;
  }
  
  label[for="nav-toggle"] {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 100%;
    cursor: pointer;
  }
  
  // #nav-toggle-burger {
  //   position: relative;
  //   width: 16px;
  //   height: 2px;
  //   background: var(--navbar-dark-primary);
  //   border-radius: 99px;
  //   transition: background .2s;
  
  //   &:before,
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     top: -6px;
  //     width: 10px;
  //     height: 2px;
  //     background: var(--navbar-light-primary);
  //     border-radius: 99px;
  //     transform: translate(2px, 8px) rotate(30deg);
  //     transition: .2s;
  //   }
  //   &:after {
  //     top: 6px;
  //     transform: translate(2px, -8px) rotate(-30deg);
  //   }
  // }
  #nav-content {
    position: relative;
    flex: 1;
    width: var(--navbar-width);
    margin: -16px 0;
    padding: 16px 0;
    overflow-x: hidden;
    // direction: rtl;
    background: var(--navbar-dark-primary);
    box-shadow: 0 0 0 16px var(--navbar-dark-primary);
    transition: width .2s;
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #D62929;
      border-radius: 99px;
    }
  
    &::-webkit-scrollbar-button {
      height: 16px;
    }
  }
  
  #nav-content-highlight {
    position: absolute;
    top: -54 - 16px;
    left: 5px;
    width: calc(100% - 5px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top .2s;
  
    &:before,
    &:after {
      position: absolute;
      right: 0;
      bottom: 100%;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      box-shadow: 16px 16px var(--background);
      content: '';
    }
  
    &:after {
      top: 100%;
      box-shadow: 16px -16px var(--background);
    }
  }
  
  .nav-button {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 54px;
    margin-left: 5px;
    color: var(--navbar-light-secondary);
    direction: ltr;
    text-wrap: wrap;
    word-wrap: wrap;
    cursor: pointer;
    transition: color .2s;
  
  
    span {
      transition: opacity 1s;
    }
  
    .fas {
      transition: min-width .2s;
    }
  
    @for $i from 1 through 8 {
      &:nth-of-type(#{$i}):hover {
        color: var(--navbar-dark-primary);
  
        &~#nav-content-highlight {
          top: ($i - 1) * 54 + 16px;
        }
      }
    }
  }
  
  #nav-bar .fas {
    min-width: 3rem;
    text-align: center;
  }
  
  #nav-footer {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: var(--navbar-width);
    height: 54px;
    background: var(--navbar-dark-secondary);
    border-radius: 16px;
    transition: width .2s, height .2s;
  }
  
  #nav-footer-heading {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 54px;
  }
  
  #nav-footer-avatar {
    position: relative;
    left: 0;
    width: 32px;
    height: 32px;
    margin: 11px 0 11px 16px;
    overflow: hidden;
    border-radius: 50%;
    transform: translate(0);
    transition: .2s;
  
    img {
      height: 100%;
    }
  }
  
  #nav-footer-titlebox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 10px;
    margin-left: 16px;
    transition: opacity 1s;
  }
  
  #nav-footer-subtitle {
    color: var(--navbar-light-secondary);
    font-size: .6rem;
  }
  
  #nav-toggle:not(:checked)~#nav-footer-toggle:checked+#nav-footer {
    height: 30%;
    min-height: 54px;
  
    label[for="nav-footer-toggle"] {
      transform: rotate(180deg);
    }
  }
  
  label[for="nav-footer-toggle"] {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    width: 3rem;
    height: 100%;
    cursor: pointer;
    transition: transform .2s, opacity .2s;
  }
  
  #nav-footer-content {
    margin: 0 16px 16px 16px;
    padding: 16px 0;
    overflow: auto;
    color: var(--navbar-light-secondary);
    font-size: .8rem;
    border-top: solid 1px var(--navbar-light-secondary);
  
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #D62929;
      border-radius: 99px;
    }
  }
  