<%- contentFor('Documentation : Header') %>
<!-- 
  This is the homepage
 -->
<%- contentFor("headCode") %>
<title><%= title %></title>
<link rel="stylesheet" href="/css/files.css" />
<script src="/js/files.js" type="module" defer></script>

<%- contentFor("body") %>

<form action="/files/upload" method="post" enctype="multipart/form-data" style="text-align:center;">
    <!-- <input type="text" name="filename" id="filename"> -->
    <input type="file" name="file" id="file">
    <input type="text" name="user" id="user" style="display:none;">
    <input type="submit" value="Upload">
</form>
<br />
<hr />
<br />
<section class="filelist form center_E">
  <h3>Owned files:</h3>
  <hr />
  <ul class="owned-list">

  </ul>
  <br />
  <h3>Viewer permission files:</h3>
  <hr />
  <ul class="viewer-list">

  </ul>  <br />
  <h3>Public files:</h3>
  <hr />
  <ul class="public-list">

  </ul>
</section>
<%
/* 
<cust-todoitem checked>
  Todo 1
  <span slot="description">small text</span>
</cust-todoitem>
<cust-todoitem>Todo 1</cust-todoitem>
<cust-todoitem>Todo 1</cust-todoitem>
*/
%>